@model List<DailyScores.Models.Statistics>

<table>
    <tr>
        <th></th>
        <th>Games Played</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>High Score</th>
        <th>Low Score</th>
        <th>Average Score</th>
    </tr>

     @foreach (var stat in Model)
     {
         <tbody class="row-grouping">
             <tr>
                 <td>@Html.DisplayFor(x => stat.Title)</td>
                 <td>@Html.DisplayFor(x => stat.GamesPlayed)</td>
                 <td>@Html.DisplayFor(x => stat.Wins)</td>
                 <td>@Html.DisplayFor(x => stat.Losses)</td>
                 <td>@Html.DisplayFor(x => stat.Ties)</td>
                 <td>@Html.DisplayFor(x => stat.HighScore)</td>
                 <td>@Html.DisplayFor(x => stat.LowScore)</td>
                 <td>@Html.DisplayFor(x => stat.AverageScore)</td>
             </tr>
         </tbody>
     }
</table>
