@model IEnumerable<DailyScores.Models.EmailSubmission>

@{
    ViewBag.Title = "Email Submission";
}

<h2>Email Submissions:</h2>
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Date
        </th>
        <th>
            To
        </th>
        <th>
            From
        </th>
        <th>
            Body
        </th>
    </tr>
@foreach (var email in Model) {
    <tr>
        <td>
            @Html.DisplayFor(item => email.EmailSubmissionId)
        </td>
        <td>
            @Html.DisplayFor(item => email.ModifiedDtm)
        </td>
        <td>
            @Html.DisplayFor(item => email.To)
        </td>
        <td>
            @Html.DisplayFor(item => email.From)
        </td>
        <td>
            @Html.DisplayFor(item => email.Body)
        </td>
    </tr>
}
</table>